body {
    background-color: black;
    color: white;
    margin: 1em 4em;
    font-family: sans-serif;
    

}

article {
  align-items: center;
}


#reaction {
  
  text-align: center;
  height: 2.5em;
  background-color: rgba(255,255,255,.2);
  font-size: 1.5em;
  display: inline-block;
  padding: .5em;
  border-radius: 5px;
  
}


.boxOne {
   width:100px;
   height:100px;
   background-color: blue;
   border-style: solid;
   border-color: blue;
}

.boxOne:hover {
    border-color: darkblue;
}


.boxTwo {
    width:100px;
    height:100px;
    background-color: orange;
    border-style: solid;
   border-color: orange;
 }
 .boxTwo:hover {
    border-color: darkgoldenrod;
}


 .boxThree {
    width:100px;
    height:100px;
    background-color: red;
    border-style: solid;
   border-color: red;
 }
 .boxThree:hover {
    border-color: darkred;
}
 

 .boxFour {
    width:100px;
    height:100px;
    background-color: green;
    border-style: solid;
   border-color: green;
 }

 .boxFour:hover {
    border-color: darkgreen
}



#play{
    visibility: visible;
   
   
}
