body {
    background-color: black;
    color: white;
    margin: 1em 4em;
    font-family: sans-serif;
}

.boxOne {
   width:100px;
   height:100px;
   background-color: cyan;
}


.boxTwo {
    width:100px;
    height:100px;
    background-color: orange;
 }


 .boxThree {
    width:100px;
    height:100px;
    background-color: red;
 }
 

 .boxFour {
    width:100px;
    height:100px;
    background-color: green;
 }
